# Node modules
node_modules/

# Environment variables
.env

# MongoDB dumps
dump/

# Logs
npm-debug.log
# Build output
bin/
obj/
Debug/
*.nuget.*
*.cache
*.g.props
*.g.targets
*.user
project.assets.json
